@{
    var db = Database.Open("PhotoGallery");

    var user = UrlData[0];

    Page.Title = "User - " + user;

    var photos = db.Query("SELECT Id, FileTitle FROM Photos WHERE UserName = @0 ORDER BY FileTitle", user).ToList();
}

<section id="sidebar">
    <h1>@user</h1>
    <dl>
        <dt>Bio</dt>
        <dd>
            @if (user != "") {
                <text>@user</text>
            } else {
                <text>This user has not created a biography.</text>
            } 
        </dd>
    </dl>
    <footer>
        <p>
            You can <a href="~/User" title="edit your profile">edit your profile</a> if you desire.
        </p>
    
    </footer>
</section>

<section id="photo">
    <hgroup>
        <h1>@(user)'s Photos</h1>
        @if (photos.Count == 1)
        {
            <h2>This user has uploaded one photo.</h2>
        }
        else
        {
            <h2>This user has uploaded @photos.Count photos.</h2>
        }
    </hgroup>

    <ul class="thumbnails user-photos" data-role="listview">
        @foreach (var photo in photos)
        {
            <li>
                <a href="~/Photo/View/@photo.Id" title="@photo.FileTitle">
                    <img alt="thumbnail of @photo.FileTitle" src="~/Photo/Thumbnail/@photo.Id" class="thumbnail-border" />
                    <aside class="image-overlay">@photo.FileTitle</aside>
                    <span class="image-overlay hide-from-mobile">@photo.FileTitle</span>
                    <span class="below-image hide-from-desktop">@photo.FileTitle</span>
                </a>
            </li>
        }
    </ul>
</section>